DISCORD_TOKEN=your_discord_bot_token
DATABASE_URL=postgres://user:password@hostname:5432/database
ADMIN_USERIDS=123456789012345678,987654321098765432
DONATION_URL=https://example.com/donate
BOT_STATUS=Tracking EF2 SR progress
COOLDOWN_SECONDS=3
DB_SSL=false
MAINTENANCE_CHANNEL_IDS=123456,234567
MAINTENANCE_CHECK_INTERVAL_SECONDS=300 # 5 minutes
SERVER_STATUS_BASEURL=https://slime-checkinfo.s3.us-east-1.amazonaws.com
MAX_KNIGHT_LEVEL=1000
MAX_TOTAL_MEDALS=1.00f
MAX_SR_MPM=1.00d
MAX_MEDAL_BUFF_PERCENT=20000